*.dat
*.db
*.csv
watch-history.json
*.json
report*
ytmusic*

############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
APIKEY

# CDT-specific
.cproject